# The right half is the BLE split central because the PS/2 trackpoint driver
# only runs on the central, and the trackpoint is wired to the right half.
if SHIELD_DO52_RIGHT

config ZMK_KEYBOARD_NAME
    default "do52"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DO52_LEFT || SHIELD_DO52_RIGHT
config ZMK_SPLIT
    default y
endif
