on: [push, pull_request, workflow_dispatch]

name: Build

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:stable
    name: Build
    strategy:
      fail-fast: false
      matrix:
        include:
          - board: sparkfun_pro_micro_rp2040
            shield: do52_left
            snippet: zmk-usb-logging
          - board: sparkfun_pro_micro_rp2040
            shield: do52_right
          - board: nice_nano_v2
            shield: do52pro_left
            snippet: zmk-usb-logging
          - board: nice_nano_v2
            shield: do52pro_right
            snippet: zmk-usb-logging
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache west modules
        uses: actions/cache@v4
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('config/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: West Init
        run: west init -l config

      - name: West Update
        run: west update

      - name: West Zephyr Export
        run: west zephyr-export

      - name: West Build (${{ matrix.shield }})
        run: |
          SNIPPET_ARG=""
          if [ -n "${{ matrix.snippet }}" ]; then
            SNIPPET_ARG="-S ${{ matrix.snippet }}"
          fi
          west build -s zmk/app -b ${{ matrix.board }} $SNIPPET_ARG -- -DSHIELD=${{ matrix.shield }} -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"

      - name: ${{ matrix.shield }} Kconfig file
        run: grep -v -e "^#" -e "^$" build/zephyr/.config | sort

      - name: Rename artifacts
        run: |
          mkdir -p artifacts
          if [ -f build/zephyr/zmk.uf2 ]; then
            cp build/zephyr/zmk.uf2 artifacts/${{ matrix.board }}-${{ matrix.shield }}.uf2
          fi
          if [ -f build/zephyr/zmk.hex ]; then
            cp build/zephyr/zmk.hex artifacts/${{ matrix.board }}-${{ matrix.shield }}.hex
          fi

      - name: Archive (${{ matrix.shield }})
        uses: actions/upload-artifact@v4
        with:
          name: firmware-${{ matrix.board }}-${{ matrix.shield }}
          path: artifacts/*
